.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #F96E46 0%, #FBAF00 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #FBAF00;
}

#support{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#support>img, #support>div{
    width: calc(50% - 40px);
    min-width: 200px;
    padding: 20px;
}
#ntuias img{
    width: 100%;
}
#ntuias{
    text-align: center;
}