.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #F96E46 0%, #FBAF00 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #FBAF00;
}

#support{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#support>img, #support>div{
    width: calc(50% - 40px);
    min-width: 200px;
    padding: 20px;
}
#ntuias img{
    width: 100%;
}
#ntuias{
    text-align: center;
}
#ntuias a {
    position: relative;
}

#ntuias a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    #ntuias a:hover::before {
        right: auto;
        width: 100%;
    }
}