.accentdot, .shadow, .box:before {
    background: linear-gradient(to bottom left, #B06AB3 0%, #4568DC 100%);
}
.shadow{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner .headline{
    transform: translateY(-50%);
}
.footer div iconify-icon{
    color: #B06AB3;
}
.faq-wrapper {
    padding-bottom: 1rem;
}

.faq-qn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faq-qn>svg {
    transition: all 0.2s ease-in-out;
}

.rotate-180 {
    transform: rotate(180deg);
}

.faq-ans {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.faq-ans>p {
    margin: 0;
    font-size: 1.2rem;
}