.accentdot, .shadow, .box:before {
    background: linear-gradient(to bottom left, #B06AB3 0%, #4568DC 100%);
}
.shadow{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner .headline{
    transform: translateY(-50%);
}
.footer div iconify-icon{
    color: #B06AB3;
}