.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #afff1f 0%, #fd8a2d 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #fd8a2d;
}

.lefttxt>div {
    position: relative;
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.gp {
    width: 100%;
    border-radius: 25px;
}

.circles {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}