.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #6DDA00 0%, #FFE600 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #6DDA00;
}

.lefttxt p a {
    position: relative;
}

.lefttxt p a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .lefttxt p a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }

    .lefttxt p a:hover::after {
        content: " >"
    }
}