.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #6DDA00 0%, #FFE600 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #6DDA00;
}

/* speakers */

.speakers-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 3rem;
}

@media screen and (max-width: 600px) {
    .speakers-wrapper {
        /* 90vw since width of lefttxt/righttxt is 90% at 600px */
        grid-template-columns: repeat(auto-fit, 90vw);
    }
}

.speaker {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "photo info" "desc desc";
    gap: 1rem;
}

.speaker-photo {
    grid-area: photo;

    border-radius: 50%;
    width: 100%;
}

.speaker-info {
    grid-area: info;
}

.speaker-desc {
    grid-area: desc;

    margin-top: 0;
    width: 100%;
}

/* schools */

.schools-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
}

.school {
    position: relative
}

.school-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    position: relative;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
}

.overlay:hover {
    background-color: whitesmoke;
    opacity: 0.5;
    cursor: pointer;
}

.overlay-text {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.overlay:hover~.overlay-text {
    opacity: 1;
}