.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #E30E0E 0%, #8D1DB5 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #8D1DB5;
}

/* timeline */
.timeline {
    padding: 100px 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.day-wrapper:not(:last-child) {
    border-right: 1px solid #a5a5a5;
    padding-right: 1rem;
}

@media screen and (max-width: 1200px) {
    .timeline {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    .timeline {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .timeline {
        grid-template-columns: 1fr 1fr;
        padding: 50px 25px;
    }
}

@media (max-width: 480px) {
    .timeline {
        grid-template-columns: 1fr;
    }

    .day-wrapper:not(:last-child) {
        border-right: none;
    }
}

.activity {
    border-bottom: 1px solid #a5a5a5;
    padding: 0.5rem 0;
}

.date {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.time {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.activity-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.activity-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    font-size: 1rem;
    margin: 0.5rem 0;
}