.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #6DDA00 0%, #FFE600 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #6DDA00;
}

/* page content */
.schs-wrapper {
    padding: 100px 50px;

    display: grid;
    justify-items: center;

    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.schs-wrapper img {
    width: 150px;
    display: inline-block;
}


.sch {
    position: relative;
    text-align: center;
}

.overlay-text {
    font-size: 1.5rem;

    /* white overlay background */
    color: transparent;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;

    /* center text within overlay */
    display: flex;
    align-items: center;

    /* center overlay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text:hover {
    color: black;
    background-color: #ffffff;
    opacity: 0.8;
}

.schlist {
    width: 100%;
}

.schlist div {
    position: relative;
    height: 100px;
    margin-top: 50px;
}

.schlist div img {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.schlist div p {
    font-size: 1.5rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 130px;
    transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
    .schs-wrapper {
        padding: 50px 25px;

        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .schs-wrapper img {
        width: 120px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .overlay-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .schs-wrapper {
        padding: 50px 25px;

        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .schs-wrapper img {
        width: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .overlay-text {
        font-size: 1rem;
    }

    .schlist div p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 576px) {
    .schs-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}