.accentdot,
.accentdot,
.shadow,
.box:before {
    background: linear-gradient(to bottom left, #6DDA00 0%, #FFE600 100%);
}

.shadow {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer div iconify-icon {
    color: #6DDA00;
}

/* speakers */
.profile-pic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 12.5%);
    justify-items: center;
    padding: 100px 50px;
}

@media screen and (max-width: 1200px) {
    .profile-pic-gallery {
        grid-template-columns: repeat(auto-fit, calc(100% / 6));

        padding: 50px 0 0 0;
        margin: 0 auto;
        width: 95%;
    }

    .circle-r,
    .circle-y,
    .circle-b,
    .circle-g {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .profile-pic-gallery {
        grid-template-columns: repeat(auto-fit, 25%);
    }
}

@media screen and (max-width: 600px) {
    .profile-pic-gallery {
        grid-template-columns: repeat(auto-fit, calc(100% / 3));
    }
}

@media screen and (max-width: 480px) {
    .profile-pic-gallery {
        grid-template-columns: repeat(auto-fit, 50%);
    }
}

.profile-pic-gallery img,
.profile-pic-gallery .filler-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
}

.speakers-wrapper {
    padding: 0 50px 100px 50px;
}


.speaker {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .speaker {
        flex-direction: column;
        align-items: center;
    }
}

.speaker>.speaker-photo {
    max-width: 25%;
    margin-right: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: sticky;
    left: 0;
    top: 50px;
}

@media screen and (max-width: 1200px) {
    .speakers-wrapper {
        padding: 50px 0 0 0;
        margin: 0 auto;
        width: 95%;
    }

    .speaker-photo {
        margin-right: 25px !important;
    }
}

@media screen and (max-width: 768px) {
    .speaker-photo {
        max-width: 60% !important;
        margin: 0 !important;
        position: inherit !important;
    }

    .speaker-title {
        font-size: 1.3rem;
    }
}

.speaker .speaker-name {
    font-size: 3rem;
    font-weight: bolder;

    font-weight: 900;
    margin: 0.5rem 1rem 0.5rem 0;

    background-image: linear-gradient(transparent calc(65% - 5px), #fda39b 5px);
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .speaker .speaker-name {
        font-size: 2rem;
    }
}

.speaker-title {
    font-size: 1.5rem;
}

.speaker-desc {
    font-size: 1rem;
    line-height: 1.5rem;
}

.speaker:nth-child(4n + 2) .speaker-name {
    background-image: linear-gradient(transparent calc(65% - 5px), #ffdd99 5px);
}

.speaker:nth-child(4n + 3) .speaker-name {
    background-image: linear-gradient(transparent calc(65% - 5px), #98fdea 5px);
}

.speaker:nth-child(4n + 4) .speaker-name {
    background-image: linear-gradient(transparent calc(65% - 5px), #97bfff 5px);
}

.speaker .speaker-info div {
    display: flex;
    align-items: center;
}

.speaker .speaker-info div iconify-icon {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.speaker .speaker-info div iconify-icon:hover {
    transform: scale(1.2);
}