html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Top*/
.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.banner .headline {
    color: white;
    height: auto;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(calc(-50% - 60px));
    width: 500px;
    text-align: right;
    font-size: 25px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.shadow {
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    position: absolute;
    top: 2px;
    right: -2px;
    margin: 0;
}

.ham {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.ham * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social {
    position: absolute;
    top: 20px;
    right: 90px;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.social div {
    width: 113px;
}

.social div iconify-icon {
    padding: 5px;
    padding-bottom: 0;
}

.accentdot {
    position: absolute;
    bottom: -25px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    transform: translate3d(2px, 2px, 0) scale(1);
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.logo {
    /* middle of the left edge of the screen */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -60%);

    /* sizing */
    width: 550px;
    height: 565px;
}

.logo-img {
    /* positioning */
    /* translate back up */
    position: relative;
    transform: translate(0, -105%);

    /* sizing */
    width: 90%;
    height: 90%;
}