@font-face {
    font-family: "Lato";
    src: url("fonts/lato-regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    line-height: 30px;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Top*/
.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner .headline {
    color: white;
    height: auto;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(calc(-50% - 60px));
    width: 500px;
    text-align: right;
    font-size: 23px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.shadow {
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    position: absolute;
    top: 2px;
    right: -2px;
    margin: 0;
}

.ham {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition-duration: 0.4s;
}

.ham:hover {
    cursor: pointer;
}

.ham * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogo {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition-duration: 0.4s;
}
.slogo a img{
    width: 30px;
    margin: 10px;
}

.social {
    position: fixed;
    top: 20px;
    right: 90px;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    transition-duration: 0.4s;
}

.social div {
    width: 113px;
}

.social div a {
    display: inline-block;
    width: 35px;
    height: 30px;
}

.social div a:hover {
    cursor: pointer;
}

.social div a iconify-icon {
    padding: 5px;
    padding-bottom: 0;
}

.accentdot {
    position: absolute;
    bottom: -35px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    box-shadow: 2px 2px 3px #333;
}

.box {
    z-index: 2;
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    transform: translate(2px, 2px);
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.logo {
    /* middle of the left edge of the screen */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    /* sizing */
    max-width: calc(100% - 600px);
    height: 70%;
}

.logo-img {
    /* positioning */
    /* translate back up */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    /* sizing */
    height: 80%;
}

.logo svg {
    max-width: 100%;
}

@media screen and (max-width: 980px) {
    .logo {
        top: 15%;
        transform: translate(0, 0);
        max-width: 60%;
        height: 50%;
    }

    .banner .headline {
        top: 80%;
        width: calc(100% - 80px);
    }

    .logo-img {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .social {
        display: none;
    }

    .banner .headline h1 {
        font-size: 40px;
    }
}

/*Sidebar*/
#sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    background: white;
    transition-duration: 0.4s;
    overflow: hidden;
    z-index: 15;
}

#sidecover {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 14;
    transition-duration: 0.4s;
}

#sidebar a#closes {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: black;
    padding: 0px;
    margin: 0;
}

#sidebar a#closes:hover {
    cursor: pointer;
    color: black;
    background: rgba(0, 0, 0, 0);
}

#sidebar a {
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    transition-duration: 0.4s;
    font-size: 1.25rem;
}

#sidebar a:nth-of-type(2) {
    margin-top: 60px;
}

#sidebar a:hover {
    background: #2b303a;
    color: white;
}

/*Body*/
.body {
    width: 100%;
}

.segment {
    width: 100%;
    position: relative;
    min-height: 650px;
}

.right {
    height: calc(100% - 150px);
    position: absolute;
    top: 100px;
    right: 0;
}

.right svg {
    height: 450px;
    position: sticky;
    top: 25px;
}

.left {
    height: calc(100% - 150px);
    position: absolute;
    top: 100px;
    left: 0;
}

.left svg {
    height: 450px;
    position: sticky;
    top: 25px;
}

.inright {
    color: white;
    position: absolute;
    right: 50px;
    top: 260px;
    font-size: 50px;
    text-align: right;
    width: 200px;
    margin: 0;
}

.inleft {
    color: white;
    position: absolute;
    left: 50px;
    top: 260px;
    font-size: 50px;
    text-align: left;
    width: 200px;
    margin: 0;
}

.lefttxt {
    width: calc(100% - 430px);
    margin-left: 50px;
    font-size: 20px;
    padding-top: 100px;
}

.righttxt {
    width: calc(100% - 430px);
    margin-right: 50px;
    margin-left: 380px;
    font-size: 20px;
    padding-top: 100px;
    text-align: right;
}

@media screen and (max-width: 980px) {
    .right {
        height: calc(100% - 100px);
        top: 50px;
    }

    .left {
        height: calc(100% - 100px);
        top: 50px;
    }

    .right svg {
        height: 350px;
    }

    .left svg {
        height: 350px;
    }

    .inright {
        top: 200px;
        font-size: 40px;
    }

    .inleft {
        top: 200px;
        font-size: 40px;
    }

    .lefttxt {
        width: calc(100% - 330px);
        margin-left: 50px;
        font-size: 18px;
        padding-top: 50px;
    }

    .righttxt {
        width: calc(100% - 330px);
        margin-right: 50px;
        margin-left: 280px;
        font-size: 18px;
        padding-top: 50px;
        text-align: right;
    }
}

.lefttxt p,
.righttxt p {
    line-height: 35px;
}

.photo {
    width: 60%;
    border-radius: 25px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.photodesc {
    font-size: 0.8rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* mobile site css */
@media screen and (max-width: 600px) {

    .lefttxt,
    .righttxt {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
    }

    .photo {
        width: 90%;
        margin: 0 auto;
    }

    .left,
    .right {
        padding-top: 80px;
    }

    .right {
        /* right align the svg */
        position: static;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .left {
        /* left align the svg */
        position: static;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .right svg,
    .left svg {
        width: 65%;
        height: auto;
        /* disable sticky */
        position: static;
    }

    .segment {
        min-height: 0;
    }

    h1 {
        font-size: 1.5rem;
    }
}

/*Footer*/
.footer {
    width: 100%;
    height: 250px;
    background-color: #2b303a;
    color: white;
    margin-top: 50px;
    padding-top: 20px;
}

.footer div {
    width: calc(49% - 80px);
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ddd;
    display: inline-block;
    line-height: 20px;
}

.footer div a {
    color: #ddd;
}

.footer div iconify-icon {
    color: #3dd9bd;
    padding-right: 20px;
    transform: translateY(2px);
}

.footer p {
    text-align: center;
    color: #ddd;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 860px) {
    .footer div {
        width: calc(99% - 80px);
    }

    .footer {
        height: 500px;
    }
}

/* some utility classes */
@media screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .mobile-only {
        display: none;
    }
}