html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Open Sans',sans-serif;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Top*/
.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner .headline {
    color: white;
    height: auto;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(calc(-50% - 60px));
    width: 500px;
    text-align: right;
    font-size: 23px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.shadow {
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    position: absolute;
    top: 2px;
    right: -2px;
    margin: 0;
}

.ham {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.ham:hover{
    cursor: pointer;
}

.ham * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social {
    position: absolute;
    top: 20px;
    right: 90px;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.social div {
    width: 113px;
}
.social div a{
    display: inline-block;
    width: 35px;
    height: 30px;
}
.social div a:hover{
    cursor: pointer;
}

.social div a iconify-icon {
    padding: 5px;
    padding-bottom: 0;
}

.accentdot {
    position: absolute;
    bottom: -35px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
}

.box{
    z-index: 2;
}
.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    transform: translate3d(2px, 2px, 0) scale(1);
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.logo {
    /* middle of the left edge of the screen */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    /* sizing */
    width: calc(100% - 600px);
    height: 70%;
}

.logo-img {
    /* positioning */
    /* translate back up */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    /* sizing */
    height: 80%;
}

/*Sidebar*/
#sidebar{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    background: white;
    transition-duration: 0.4s;
    overflow: hidden;
    z-index: 15;
}
#sidecover{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 14;
    transition-duration: 0.4s;
    backdrop-filter: blur(5px);
}
#closes{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: black;
}
#closes:hover{
    cursor: pointer;
}

/*Body*/
.body{
    width: 100%;
}
.segment{
    width: 100%;
    position: relative;
    min-height: 650px;
}
.right{
    height: 450px;
    position: absolute;
    top: 100px;
    right: 0;
}
.left{
    height: 450px;
    position: absolute;
    top: 100px;
    left: 0;
}
.inright{
    color: white;
    position: absolute;
    right: 50px;
    top: 260px;
    font-size: 50px;
    text-align: right;
    width: 200px;
    margin: 0;
}
.inleft{
    color: white;
    position: absolute;
    left: 50px;
    top: 260px;
    font-size: 50px;
    text-align: left;
    width: 200px;
    margin: 0;
}
.lefttxt{
    width: calc(100% - 430px);
    margin-left: 50px;
    font-size: 20px;
    padding-top: 100px;
}
.righttxt{
    width: calc(100% - 430px);
    margin-right: 50px;
    margin-left: 380px;
    font-size: 20px;
    padding-top: 100px;
}
.lefttxt p, .righttxt p{
    line-height: 35px;
}