@font-face {
    font-family: "Lato";
    src: url("fonts/lato-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;

    scroll-behavior: smooth;
    --isyf-red: #FB4D3D;
    --isyf-yellow: #FFC759;
    --isyf-green: #03CEA4;
    --isyf-blue: #345995;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Top*/
.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner .headline {
    color: white;
    height: auto;
    position: absolute;

    width: 100%;
    height: 100%;
    font-size: 4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: hidden;
}

.headline.homepage-headline {
    text-align: right;
    font-size: 2rem;
    width: 50%;
    padding-left: 45%;
    padding-right: 5%;
}

.title {
    z-index: 2;
    margin: 0;
    transform: translate(0, 50%);
}


.shadow {
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    position: relative;
    transform: translate(3px, calc(-50% + 3px));
    margin: 0;

    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.ham {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.ham:hover {
    cursor: pointer;
}

.ham * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogo {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.slogo a img {
    width: 30px;
    margin: 10px;
}

.social {
    position: fixed;
    top: 20px;
    right: 90px;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.social div {
    width: 113px;
}

.social div a {
    display: inline-block;
    width: 35px;
    height: 30px;
}

.social div a:hover {
    cursor: pointer;
}

.social div a iconify-icon {
    padding: 5px;
    padding-bottom: 0;
}

.accentdot {
    position: absolute;
    bottom: -35px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.box {
    z-index: 3;
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom left, #3dd9bd 0%, #58a4b0 100%);
    transform: translate(2px, 2px);
    border-radius: inherit;
}

.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.logo {
    /* middle of the left edge of the screen */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    /* sizing */
    max-width: calc(100% - 600px);
    height: 70%;
}

.logo-img {
    /* positioning */
    /* translate back up */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    /* sizing */
    height: 80%;
}

.logo svg {
    max-width: 100%;
}

@media screen and (max-width: 980px) {
    .logo {
        top: 15%;
        transform: translate(0, 0);
        max-width: 60%;
        height: 50%;
    }

    .logo-img {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 910px) {
    .banner .headline h1 {
        font-size: 3rem;
    }

    .headline.homepage-headline {
        flex-direction: column;
        text-align: right;
        width: 80%;
        padding-left: calc(20% - 20px);
        padding-top: 25%;
        padding-right: 20px;
    }

    .banner .headline.homepage-headline h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        top: 10%;
    }

    .social {
        display: none;
    }

    .banner .headline.homepage-headline h1 {
        font-size: 2rem;
    }

    .headline.homepage-headline {
        padding-top: 40%;
    }
}

/*Sidebar*/
#sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    background: white;
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
    z-index: 15;
}

.hide-sidebar {
    transform: translateX(100%);
}

#sidecover {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 14;
    transition-duration: 0.4s;
}

#sidebar a#closes {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: black;
    padding: 0px;
    margin: 0;
}

#sidebar a#closes:hover {
    cursor: pointer;
    color: black;
    background: rgba(0, 0, 0, 0);
}

#sidebar a,
#sidebar .sidebar-collapsable-title,
#sidebar .sidebar-collapsable-items>li>a {
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
    font-size: 1.25rem;
}

#sidebar a:nth-of-type(2) {
    margin-top: 60px;
}

#sidebar a:hover,
#sidebar .sidebar-collapsable-title:hover {
    background: #2b303a;
    color: white;
}

.sidebar-collapsable {
    cursor: pointer;
    width: 100%;
}

.sidebar-collapsable-title {
    display: flex !important;
    justify-content: space-between;

    margin-bottom: 0 !important;
}

.sidebar-collapsable-title>span>iconify-icon {
    transition: all 0.4s ease-in-out;
}

.sidebar-collapsable-items {
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.sidebar-collapsable-items>li {
    list-style: none;
}

.sidebar-collapsable-items>li:nth-last-of-type(1)>a {
    margin-bottom: 0 !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

#sidebar .sidebar-collapsable-title:hover>span>iconify-icon {
    color: white;
}

/*Body*/
.body {
    width: 100%;
}

.segment {
    width: 100%;
    position: relative;
    min-height: 650px;
}

.right {
    height: calc(100% - 150px);
    position: absolute;
    top: 100px;
    right: 0;
}

.right svg {
    height: 450px;
    position: sticky;
    top: 25px;
}

.left {
    height: calc(100% - 150px);
    position: absolute;
    top: 100px;
    left: 0;
}

.left svg {
    height: 450px;
    position: sticky;
    top: 25px;
}

.lefttxt {
    width: calc(100% - 430px);
    margin-left: 50px;
    font-size: 20px;
    padding-top: 100px;
    text-align: justify;
}

.righttxt {
    width: calc(100% - 430px);
    margin-right: 50px;
    margin-left: 380px;
    font-size: 20px;
    padding-top: 100px;
    text-align: justify;
}

.righttxt h1 {
    text-align: left;
}

@media screen and (max-width: 980px) {
    .right {
        height: calc(100% - 100px);
        top: 50px;
    }

    .left {
        height: calc(100% - 100px);
        top: 50px;
    }

    .right svg {
        height: 350px;
    }

    .left svg {
        height: 350px;
    }

    .inright {
        top: 200px;
        font-size: 40px;
    }

    .inleft {
        top: 200px;
        font-size: 40px;
    }

    .lefttxt {
        width: calc(100% - 330px);
        margin-left: 50px;
        font-size: 18px;
        padding-top: 50px;
    }

    .righttxt {
        width: calc(100% - 330px);
        margin-right: 50px;
        margin-left: 280px;
        font-size: 18px;
        padding-top: 50px;
        text-align: justify;
    }
}

.lefttxt p,
.righttxt p {
    line-height: 35px;
}

.photo {
    width: 60%;
    border-radius: 25px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.photodesc {
    font-size: 0.8rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* mobile site css */
@media screen and (max-width: 600px) {

    .lefttxt,
    .righttxt {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
    }

    .photo {
        width: 90%;
        margin: 0 auto;
    }

    .left,
    .right {
        padding-top: 80px;
    }

    .right {
        /* right align the svg */
        position: static;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .left {
        /* left align the svg */
        position: static;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .right svg,
    .left svg {
        width: 65%;
        height: auto;
        /* disable sticky */
        position: static;
    }

    .segment {
        min-height: 0;
    }

    h1 {
        font-size: 1.5rem;
    }
}

/*Footer*/
.footer {
    width: 100%;
    height: 250px;
    background-color: #2b303a;
    color: white;
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.footer div {
    width: calc(49% - 80px);
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #ddd;
    display: inline-block;
    line-height: 20px;
}

.footer div a {
    color: #ddd;
}

.footer div iconify-icon {
    color: #3dd9bd;
    padding-right: 20px;
    transform: translateY(2px);
}

.footer p {
    text-align: center;
    color: #ddd;
    padding-left: 40px;
    padding-right: 40px;
}

.footer div div {
    display: inline-block;
    padding: 0;
    width: calc(100% - 60px);
}

@media screen and (max-width: 460px) {
    .footer div div {
        transform: translate(-2px, 10px);
    }
}

@media screen and (max-width: 860px) {
    .footer div {
        width: calc(99% - 80px);
    }

    .footer {
        height: 500px;
    }
}

/* some utility classes */
@media screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .mobile-only {
        display: none;
    }
}

.hide {
    transform: translateY(-150px) scale(0.1);
}

.slogo,
.ham,
.social {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}